.book-details {
  // reset
  p {
    margin: 0;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    margin: 0 24px;
    padding-bottom: 24px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        margin-bottom: 24px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
      }

      .pages {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        margin: 0 auto;
      }
    }

    .right {
      h2.book-title {
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
        font-size: 20px;
      }

      .authors {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }

      .price-stars {
        display: flex;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.75);
        margin: 12px 0;

        .price {
          font-weight: 700;
        }
        .stars {
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;
          color: white;
          font-weight: 700;

          &.buy {
            background-color: #4a90e2;
            margin-right: 12px;
            padding: 8px 30px;
            text-transform: uppercase;
            border-radius: 30px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          }

          &.heart {
            background-color: #dc4b5d;
            padding: 8px;
            font-size: 16px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .description {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    padding: 12px;
    line-height: 28px;
  }
}
