.home {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 12px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 0;
    color: white;
    font-weight: 700;
    outline: none;
    margin-bottom: 24px;

    &.web {
      background-color: #4ae26b;
    }

    &.react {
      background-color: #4a90e2;
    }

    &.ux {
      background-color: #dc4b5d;
    }
  }

  .author {
    position: absolute;
    bottom: 16px;
    right: 16px;
    text-align: center;
    margin: 0;
    font-size: 16px;
  }
}
